*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}
.container
{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, crimson, orange);
}
.left
{
    flex-basis: 40%;
    display: grid;
}
.left h2
{
    color: antiquewhite;
    font-size: 3rem;
    text-align: center;
}
.left p
{
    color: #fff8dc;
    margin-top: 10px;
    text-align: center;
}
.right
{
    flex-basis: 50%;
    grid-template-columns: repeat(f);
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;
}


.child-imgs5
{
    background-size: cover;
    background-position: top;
    color: greenyellow;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor:pointer;
}    

.child-imgs5:hover
{
    background-color: #999;
    background-position: center;
    box-shadow: 0 0 #fff8dc;


}


.row-3
{
grid-column: span 2;
}
.column-5
{
    grid-row: span 2;
}
.column-6
{
    grid-row: span 2 ;
}
.column-4
{
    grid-row: span 3;
}
.column-1
{
    grid-row: span 2;
}
.column-2
{
    grid-row: span 2;
}
.column-7
{
    grid-row: span 2;
}